<% @photos.each do |photo| %>
    <figure>
       <img src="<%= photo.file.url(:optim)%>" alt="<%= photo.title%>" data-src="
       <%= photo.file.url(:optim)%>" />
        <figcaption>
            <h2><%= photo.title %></h2>
            <small><%= photo.camera %></small>
        </figcaption>
    </figure>
<% end %>

<% if @total > 1 %>
    <div class="pager">
        <% if @page > 1%>
            <a title="Première page" href="/">&laquo;</a>
            <a title="Page précédente" href="/page/<%= @page - 1 %>">&lsaquo;</a>
        <% end %>

        <% if @page < @total %>
            <a title="Page suivante" href="/page/<%= @page + 1 %>">&rsaquo;</a>
            <a title="Dernière page" href="/page/<%= @total %>">&raquo;</a>
        <% end %>
        </div>
<% end %>
