<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Clairesophoto</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin/admin" %>
  <meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <div>
            <%= yield :header %>    
        </div>
        
    </header>
    <section>
        <div>
            <%= yield %></section>    
        </div>
</body>
</html>
